*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    cursor: default;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0rem 1.5rem 1.5rem rgb(70, 69, 69);
    height: 10vh;
    align-items: center;
}  
.nav > p > span{
    color: rgb(163, 145, 42);
}
.logo{
    height: 7vh;
    width: 3.5vw;
    margin: 1rem;
    border-radius: 50%;
    box-shadow: 0.5rem 0.5rem 0.5rem grey;
}

/* Secci贸n Inicio */

.titulo{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    font-style: oblique;
}
#Inicio{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.titulo-ini {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}

.frase {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

/* Fin Secci贸n Inicio */

.flex-container-sec{
    display: flex;
    height: 100vh;
    width: 100%;
}

.flex-container > ul{
    list-style-type: none;
}
.nav > ul > li{
    display: inline-block;
    margin: 1.5rem;
}
li > a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;

}
li > a:hover{
    color: gold;
}
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;

}

.slider img {
	width: 35%
}



@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

    25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left:  -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
h2{
    text-align: center;
    height: 20vh;
}
p{
    text-align-last: left;
    font-size: 2rem;
}


.s1{
    background-image: url(https://images.unsplash.com/photo-1600585152220-90363fe7e115?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDV8fGtpdGNoZW58ZW58MHx8fHwxNjQ1MTIyODAy&ixlib=rb-1.2.1&q=80&w=2000);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Secci贸n Categorias */

.s2{
    background-color: rgba(215, 204, 200);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-evenly;
}
.cat{
    width: 30%;
    height: 90%;
    background-color: white;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 1rem 0px rgb(102, 59, 38) inset;
}
.titulo-cat{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    padding-top: 2rem;
}
.cat > figure{
    width: 60%;
    height: 40%;
    margin-top: 2rem;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0rem 0rem 2rem black;
}
.cat > figure > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.desc-cat{
    width: 80%;
}
.desc-cat > p{
    font-size: 2rem;
}
.desc-cat > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.desc-cat > ul > li{
    font-size: 1.6rem;
    font-style: oblique;
}


/* Fin Categorias */


.s3{
    display: grid;
    background-color: rgb(255, 171, 145);
    height: 150vh;
    width: 100%;
    background-image: url(../images/home-bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.s4{
    background-color: rgb(255, 224, 130);
}
.s5{
    background-color: rgb(181, 255, 245);
    justify-content: center;
}
#slogan{
    width:50px ;
    height:50px ;
}
s#imagen{
    width:50px ;
    height:50px ;
    margin: 50px;
    padding: 10px;
}



#especial{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#especial-2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

#form{
   height: 70%;
   width: 50%;
   margin: 2rem;
   padding: 1rem;
   outline: 0.1rem solid black;
   background-color: rgb(202, 241, 241);
   display: flex;
   justify-content: center;
}

#contact-form{
    width: 90%;
    height: 90%;
}

#contact-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 0.1rem solid black;
    margin: 1rem 0;
}

#contact-form .form-control:focus {
    border-bottom-color: #202020;
}

#contact-form input{
    height: 5rem;
}

#contact-form .button{
    width: 12.5rem;
}

#contact-form input[type='submit'] {
background: #202020;
border-radius: 5rem;
border: 0;
color: #ffffff;
}

#contact-form input[type='submit']:hover {
background: #dd4010;
color: #ffffff;
}


.box-1{
    display: inline-block;
    flex-direction: row;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.box-2{
    display: inline-block;
    flex-direction: row;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.box-3{
    margin-top: 1rem;
}

.cont-mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 90%;
    margin: 1.5rem;
    outline: 0.1rem solid black;
    background-color: white;
}

.cont-mapa > h1{
    background-color: #ffffff;
    font-size: 2.4rem;
}

.cont-mapa > iframe{
    height: 80%;
    width: 80%;
    outline: 0.1rem solid black;
}

.cont-mapa > p{
    font-size: 2rem;
}

.s3 > h1{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: black;
}

.titulo-cont{
    background-color: white;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}


/* Secci贸n Mas Vendidos */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-template-rows: repeat(4, 30vh);
    gap: 2rem;
    margin: 0 3rem 0 3rem;
}
.grid-items{
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    border-radius: 2rem;
    transition: transform .5s;
}
.grid-items > figure{
    margin: 1rem;
    width: 60%;
    height: 60%;
}
.grid-items:hover{
    transform: scale(1.01);
    animation: pulse .2s forwards;
}
.imagen-prod{
    margin: 1rem;
    width: calc(100% - 2rem) ;
    height: calc(100% - 2rem);
    border-radius: 2%;
    box-shadow: 0rem 0rem 1rem black;
}
.info-prod{
    width: 90%;
    height: 30%;
}
.info-prod > p{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1rem 1rem;
}
.info-prod > p:nth-child(3){
    font-size: 1.1rem;
    display: block;
    font-style: oblique;
}
button{
    display: flex;      
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 3rem;
    background: #202020;
    border-radius: 5rem;
    border: 0;
    color: #ffffff;
}

@keyframes pulse{
    0%{
        border: none;
    }
    100%{
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0rem 0rem 0.9rem black;
    }
}

/* Fin Vendidos */

/* Footer */

.footer{
    height: 20vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: 0rem -1.5rem 1.5rem rgb(70, 69, 69);
}
.footer-content{
    display: flex;
    height: 20vh;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
}
    
.items_footer{
    padding: 10px;
    margin: 0px;
    flex-basis: 100%;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255); 
}

.footer p{
    color: rgb(0, 0, 0);
    font-size: medium;
    margin-bottom: 5px ;
    text-align: center;
  }

.icons-footer{
    font-size: 10px;
    background-color: rgb(179, 175, 174);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    width: 100%;
    height: 40%;
}
.icons-footer > li{
    margin-left: 3rem;
}

/* Fin footer */